{% extends 'base.html' %}

{% block title %}
    Users
{% endblock title %}

{% block content %}
<div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <h1>Users</h1>
        {% for user in users %}
            <a href="{% url "view_profile" user.username %}">
                <div class="card card-signin card-user my-5">
                    <img src="{{ user.gravatar }}" />
                    <h5 class="card-title text-center">@{{ user.username }}</h5>
                </div>
            </a>
        {% endfor %}
    </div>
</div>
{% endblock %}
